.res {
    margin-top: 20px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    background-color: #2C2C2E;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: white;
}